footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: red;
  color: white;
  text-align: center;
}
/* .overflow{
  height: max-content;
} */
.card:hover {
  transform: scale(1.5);
  box-shadow: 0.1rem 0.1rem 0.1rem;
}
.zoom:hover .btn {
  background-color: rgb(102, 102, 241);
  color: aliceblue;
}
.container
{
  margin: 25px;
}

@media screen and ( max-width:1200px)
{
  
  .img1
  {
  
    width: 150px;
    height: 300px;
    
  }
  .img2
  {
    width: 150px;
    height: 300px;
    
  }
  .img3
  {
    
    width: 100px;
    height: 300px;
    
  }
}