.c{
  min-height: 100%;
}
.card:hover {
  transform: scale(1.5);
  box-shadow: 0.1rem 0.1rem 0.1rem;
}
.zoom:hover .btn {
  background-color: rgb(102, 102, 241);
  color: aliceblue;
}
.card-footer
{
  margin: auto;
}
.container
{
  margin: 25px;
}

@media screen and ( max-width:1200px)
{
  
  .img1
  {
  
    width: 150px;
    height: 300px;
    
  }
  .img2
  {
    width: 150px;
    height: 300px;
    
  }
  .img3
  {
    
    width: 100px;
    height: 300px;
    
  }
}